h2#contactHeader About Kinecision
.row.top-buffer
  .col-xs-1
  .col-xs-2
      img#myoLogo.animated.fadeInLeftBig(src='../../assets/myo.jpg')
  .col-xs-6
    h1#techHeader Sponsors
  .col-xs-2
      img#home.animated.fadeInRightBig(src='../../assets/att.png')
  .col-xs-1
.row.top-buffer
  .col-xs-2
  .col-xs-8
    h4#about As coding students, all six of us made a tough decision to leave our previous careers and temporarily our lives to get to where we stand in front of you. We want to acknowledge that everyone’s minds process information in different ways. Some of us think analytically, for example, making pros and cons lists. Some of us speak with others in order to form their ideas. Further, some of us make decisions with our bodies. This makes a lot of sense as the body responds before our mind has a chance to register some stimulus; I’m sure we’ve all heard that smiling is more likely the cause of being happy than being happy is the cause of smiling. That’s why we’ve developed “Kinecision”, which evokes a response to stimulus related to a decision and summarizes each individual choice into a decision.
  .col-xs-2
.row.top-buffer
  .col-xs-4
  .col-xs-4
    h1#techHeader Tech Used
  .col-xs-4
.row.top-buffer
  .col-xs-1
  .col-xs-2
    img#home.animated.fadeInLeftBig(src='../../assets/angular-js.png')
  .col-xs-1
  .col-xs-1
    img#boot.animated.bounceInUp(src='../../assets/bootstrap.png')
  .col-xs-1
  .col-xs-2
    img#home.animated.bounceInUp(src='../../assets/mongoDB.png')
  .col-xs-1
  .col-xs-2
    img#home.animated.fadeInRightBig(src='../../assets/node-js.jpg')
