h1 Dev Contact Info:
.row
  .col-xs-5.col-xs-offset-1
    .container#contactInfo
      h3#name Jon Edwards
      img#contactPic(src='../../assets/jon.jpeg')
      h4#title Team Lead
      h4: a(href='http://kolohelios.com/#/') Website
      h4: a(href='https://twitter.com/kolohelios') Twitter
