.row
  .col-xs-2
  .col-xs-6
    h1#devHeader Developer Team:
    h3#contactHeader: a(href='https://github.com/IAmEddieDean/myo-angular' target='_blank'): i.fa.fa-github &nbsp; https://github.com/IAmEddieDean/myo-angular
    h3#devHeader: a(href='https://github.com/IAmEddieDean/myo-node' target='_blank'): i.fa.fa-github &nbsp; https://github.com/IAmEddieDean/myo-angular
.row
  .col-xs-3
  .col-xs-4
    h2#contactHeader Developer Contact Info:
.row.center-block
  .col-xs-1
  .col-xs-2
    .container.contactInfo
      h3.name Jon Edwards
      img.img-responsive.img-circle.img-thumbnail.contactPic(src='../../assets/jon.jpeg')
      h4.title Team Lead
      h4: a(href='http://kolohelios.com/#/' target='_blank'): i.fa.fa.fa-user &nbsp; Website
      h4: a(href='https://github.com/kolohelios' target='_blank'): i.fa.fa-github &nbsp; GitHub
      h4: a(href='https://twitter.com/kolohelios' target='_blank'): i.fa.fa-twitter &nbsp; @kolohelios
  .col-xs-1
  .col-xs-2
    .container.contactInfo
      h3.name Evan Gatchell
      img.img-responsive.img-circle.img-thumbnail.contactPic(src='../../assets/even.jpeg')
      h4.title Back-End /Myo R&D
      h4: a(href='http://evangatchell.me/#/' target='_blank'): i.fa.fa.fa-user &nbsp; Website
      h4: a(href='https://gitgub.com/greygatch' target='_blank'): i.fa.fa-github &nbsp; GitHub
      h4: a(href='https://twitter.com/greygatch' target='_blank'): i.fa.fa-twitter &nbsp; @greygatch
  .col-xs-1
  .col-xs-2
    .container.contactInfo
      h3.name Clyde Marl
      img.img-responsive.img-circle.img-thumbnail.contactPic(src='../../assets/clyde.jpeg')
      h4.title Back-End & Angular
      h4: a(href='http://clydemarl.me/#/' target='_blank'): i.fa.fa.fa-user &nbsp; Website
      h4: a(href='https://github.com/cmarl' target='_blank'): i.fa.fa-github &nbsp; GitHub
      h4: a(href='https://twitter.com/cmarl' target='_blank'): i.fa.fa-twitter &nbsp; @cmarl
.row.center-block
  .col-xs-1
  .col-xs-2
    .container.contactInfo
      h3.name Chris Oyler
      img.img-responsive.img-circle.img-thumbnail.contactPic(src='../../assets/chris.jpeg')
      h4.title Integration/Management
      h4: a(href='http://kolohelios.com/#/' target='_blank'): i.fa.fa.fa-user &nbsp; Website
      h4: a(href='https://github.com/iameddiedean' target='_blank'): i.fa.fa-github &nbsp; GitHub
      h4: a(href='https://twitter.com/chrisoyler' target='_blank'): i.fa.fa-twitter &nbsp; @chrisoyler
  .col-xs-1
  .col-xs-2
    .container.contactInfo
      h3.name Edwin Dover
      img.img-responsive.img-circle.img-thumbnail.contactPic(src='../../assets/edwin.jpeg')
      h4.title Front-End 
      h4: a(href='http://kolohelios.com/#/' target='_blank'): i.fa.fa.fa-user &nbsp; Website
      h4: a(href='https://github.com/EdsDover' target='_blank'): i.fa.fa-github &nbsp; GitHub
      h4: a(href='https://twitter.com/EdsDover' target='_blank'): i.fa.fa-twitter &nbsp; @EdsDover
  .col-xs-1
  .col-xs-2
    .container.contactInfo
      h3.name Richard Armstrong-Stoner
      img.img-responsive.img-circle.img-thumbnail.contactPic(src='../../assets/dick.jpeg')
      h4.title Front-End /Myo R&D
      h4: a(href='http://kolohelios.com/#/' target='_blank'): i.fa.fa.fa-user &nbsp; Website
      h4: a(href='https://github.com/rljarm' target='_blank'): i.fa.fa-github &nbsp; GitHub
      h4: a(href='https://twitter.com/rljarm' target='_blank'): i.fa.fa-twitter &nbsp; @rljarm
