#homePage
  h1#welcome1 Kinecision
  h2#welcome2 What moves you?
    .row
      .col-xs-4
      .col-xs-2.col-xs-offset-1#getStarted
        button.btn.btn-lg.btn-success#startButton(ng-click='welome()') Get Started
