h1#welcome Kinecision
h2#welcome What moves you?

.row
  .col-xs-4
  .col-xs-2.col-xs-offset-1
    button.btn.btn-lg.btn-success#getStarted(ng-click='welome()') Get Started
.row
  .col-xs-2
    img#homephoto1(src='../assets/workingBack.jpeg')
  .col-xs-6
  .col-xs-2
    img.homephoto(src='../assets/dancingBack.png')
