h1#dashboardTitle Dashboard
.row
  .col-xs-8.col-xs-offset-2
    form(name='dashboardForm', novalidate)
      table.table-striped.table-hover
        thead
          tr
            th: h3 Decision
            th: h3 Date
            th: h3 Results
          tr(ng-repeat='decision in decisions')
            td: h3: a(ui-sref='decisions-show({decisionId:decisionId})') {{decision.title}}
            td: h3 {{decision.date | date:'yyy-MM-dd'}}
            td: h3 {{decision.result}}
