.row
  .col-xs-5#Pic1(ng-click='click(left)' ng-style="{'background-image':'url(../../assets/jon.jpeg)'}")
  .col-xs-1
  .col-xs-5#Pic2(ng-click='click(right)' ng-style="{'background-image':'url(../../assets/jon.jpeg)'}")
