.row
  .col-xs-6#Pic(ng-click='click(left)' ng-style="{'background-image':'url(../../assets/jon.jpeg)'}")
  .col-xs-6#Pic(ng-click='click(right)' ng-style="{'background-image':'url(../../assets/jon.jpeg)'}")
